In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import requests
from bs4 import BeautifulSoup
import re

In [74]:
def scrape_daft(url, start_page, end_page, page_size):
    
    property_dict = {"Bed":[],
                    "Bath":[],
                    "m²":[],
                    "Price":[],
                    "Address":[],
                    "Property_type":[],
                     "New_build":[],
                     "Page":[],
                    }
    
    for i in range(start_page, end_page):
        
        current_url = f"{url}?from={i*page_size}&pageSize={page_size}"
        response = requests.get(current_url)
        soup = BeautifulSoup(response.text, 'html.parser')
        
        extract_data(soup, property_dict, i)
        
    return property_dict

In [134]:
def extract_data(soup, property_dict, i):
    for property_listings in soup.find_all("li", "SearchPage__Result-gg133s-2 djuMQD"):
        
        try:
            property_address = property_listings.find_all("p", "TitleBlock__Address-sc-1avkvav-8 dzihyY")[0].text
            extract_single_listing(property_listings, property_dict, i)
        except IndexError:
            property_address = property_listings.find_all("p", "TitleBlock__Address-sc-1avkvav-8 hCMmam")[0].text
            extract_sub_listing(property_listings, property_dict, i)
            
        imput_null_values(property_dict)
        
    return property_dict

def extract_single_listing(property_listings, property_dict, i):
    
    property_price = property_listings.find_all("span", "TitleBlock__StyledSpan-sc-1avkvav-5 fKAzIL")[0].text
    property_address = property_listings.find_all("p", "TitleBlock__Address-sc-1avkvav-8 dzihyY")[0].text
    property_type = property_listings.find_all("p", "TitleBlock__CardInfoItem-sc-1avkvav-9 cKZZql")
    
    property_price = convert_price_to_int(property_price, i)
    
    property_dict["Price"].append(property_price)
    property_dict["New_build"].append("no")
    property_dict["Address"].append(property_address)
    property_dict["Page"].append(i)
    
    if len(property_type) > 0:
        property_dict["Property_type"].append(property_type[0].text)
    else:
        property_dict["Property_type"].append(np.nan)



    property_details = property_listings.find_all("p", "TitleBlock__CardInfoItem-sc-1avkvav-9 iLMdur")
    extract_property_details(property_details, property_dict)

    

def extract_sub_listing(property_listings, property_dict, i):
    
    property_address = property_listings.find_all("p", "TitleBlock__Address-sc-1avkvav-8 hCMmam")[0].text
    sub_listings = property_listings.find_all("div", "SubUnit__StyledCol-sc-10x486s-4 bIjqYp")
    for listing in sub_listings:
        property_price = listing.find_all("p","SubUnit__Title-sc-10x486s-5 feGTKf")
        
        if len(property_price) > 0:
            property_price = convert_price_to_int(property_price[0].text, i)
            details = listing.find_all("div","SubUnit__CardInfoItem-sc-10x486s-7 YYbRy")
            property_details = details[0].text.split(" · ")
            extract_sub_listing_property_details(property_details, property_dict)
        
            property_dict["m²"].append(np.nan)    
            property_dict["Price"].append(property_price)    
            property_dict["Address"].append(property_address)    
            property_dict["New_build"].append("yes")
            property_dict["Page"].append(i)

In [151]:
def convert_price_to_int(price, i):
    try:
        price = int("".join(price.split("€")[1].split(",")))
    except IndexError:
        if price.strip() != "Price on Application":
            #print(f"Error found on page {i}")
            #print(f"{price} is not of type int", end ="\n\n")
            price = np.nan
        else:
            price = price.strip()
    return price

def extract_property_details(property_details, property_dict):
    
    for detail in property_details:
        try:
            detail_value = detail.text.split()[0]
            detail_type = detail.text.split()[1]
        except:
            print(detail)
            
        if detail_type in ["Bed","Bath","m²"]:
            try:
                property_dict[detail_type].append(int(detail_value))
            except ValueError:
                property_dict[detail_type].append(detail_value)
        elif detail_type == "ac":
            size = convert_ac_m2(detail_value)
            property_dict["m²"].append(size)
        else:
            print(f"Found {detail}, while trying to extract bed, bath and floor-area")

def extract_sub_listing_property_details(property_details, property_dict):

    for detail in property_details[:-1]:
        try:
            detail_value = detail.split(" ")[0]
            detail_type = detail.split(" ")[1]
        except:
            print(detail)
            
        property_dict[detail_type].append(detail_value)
    
    property_dict["Property_type"].append(property_details[-1])
    
def convert_ac_m2(value):
    return float(value) / (0.00024711)

def imput_null_values(property_dict):
    maxLen = max([len(property_dict[key]) for key in property_dict])
    for key in property_dict:
        if len(property_dict[key]) < maxLen:
            property_dict[key].append(np.nan)
    
    if sum(np.array([len(property_dict[key]) for key in property_dict]) == maxLen) != len(property_dict):
        print("Error dictionary not of uniform length")
        print([(key, len(property_dict[key])) for key in property_dict])
        imput_null_values(property_dict)

In [152]:
url = "https://www.daft.ie/property-for-sale/ireland"
start_page = 25
end_page = 35
page_size = 20
property_dict = scrape_daft(url, start_page, end_page, page_size)

Error dictionary not of uniform length
[('Bed', 39), ('Bath', 38), ('m²', 39), ('Price', 39), ('Address', 39), ('Property_type', 39), ('New_build', 39), ('Page', 39)]
Error dictionary not of uniform length
[('Bed', 101), ('Bath', 100), ('m²', 101), ('Price', 101), ('Address', 101), ('Property_type', 101), ('New_build', 101), ('Page', 101)]

In [141]:
properties = pd.DataFrame(property_dict)

In [142]:
properties

,Bed,Bath,m²,Price,Address,Property_type,New_build,Page
0,4,NaN,NaN,1275000,"Oatlands Manor, Oatlands Manor, Mount Merrion,...",Detached,yes,25
1,3,3,NaN,395000,"The Willows Development, The Willows Developme...",Terrace,yes,25
2,3,2,NaN,630000,"Domville, Cherrywood, Co. Dublin",Semi-D,yes,25
3,4,3,NaN,740000,"Domville, Cherrywood, Co. Dublin",Semi-D,yes,25
4,2,2,NaN,350000,"Vartry Wood, Ashford, Co. Wicklow",Terrace,yes,25
...,...,...,...,...,...,...,...,...
237,3,3,100.0,290000,"51 Limekiln Wood, Navan, Co. Meath",End of Terrace,no,34
238,3,1,104.0,365000,"165 Shanliss Avenue, Santry, Santry, Dublin 9",Semi-D,no,34
239,3,1,79.0,395000,"28 Shanowen Park, Santry, Santry, Dublin 9",Semi-D,no,34
240,1,1,61.0,230000,"72 Sonata, Hartys Quay, Rochestown, Co. Cork",Apartment,no,34
241,4,2,116.0,795000,"31 Fosterbrook, Stillorgan Road, Blackrock, Co...",Semi-D,no,34