In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import math
import os

In [6]:
top_path = "data/processed_data/"
glucose_dfs = {}
for subject_type in os.listdir(top_path):
    for subject_ID in os.listdir(top_path+subject_type):
        glucose_dfs[f"{subject_type}_{subject_ID}"] = pd.read_csv(top_path+subject_type+"/"+subject_ID+"/glucose.csv")

In [8]:
glucose_dfs["diabetes_subset_001"]

            date      time  glucose    type  comments
0     2014-10-01  19:14:00     10.3     cgm       NaN
1     2014-10-01  19:19:00      9.9     cgm       NaN
2     2014-10-01  19:23:00      9.4  manual       NaN
3     2014-10-01  19:24:00      9.8     cgm       NaN
4     2014-10-01  19:29:00      9.6     cgm       NaN
...          ...       ...      ...     ...       ...
1433  2014-10-06  16:34:02     12.3     cgm       NaN
1434  2014-10-06  16:39:02     12.5     cgm       NaN
1435  2014-10-06  16:44:02     12.5     cgm       NaN
1436  2014-10-06  16:49:02     12.3     cgm       NaN
1437  2014-10-06  16:54:02     12.1     cgm       NaN

[1438 rows x 5 columns]